body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-etcdev {
  background-color: #212121;
  color: #00c853;

  a {
    color: #00c853;
  }

  li > a:hover {
    background-color: lighten(#212121, 15%);
  }
}

.container-header {
  
}